# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
homework-2/backend/.env

# IDE
.idea/

# OS files
.DS_Store
Thumbs.db

# Storage files
homework-2/backend/app/data/games.json
homework-2/backend/app/data/reviews.json
homework-2/backend/app/data/sessions.json